<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Barra de progreso {{ progreso1 }} </h4>

        <div class="progress">
          <div [attr.ariaValuenow]="progreso1" [style.width]="progreso1 + '%'"
               aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
               class="progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar"></div>
        </div>

        <br>

        <div class="progress">
          <div [attr.ariaValuenow]="progreso2" [style.width]="progreso2 + '%'"
               aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
               class="progress-bar progress-bar-striped progress-bar-animated bg-success"
               role="progressbar"></div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-incrementador (actualizaValor)="progreso1 = $event" [progreso]="progreso1"
                           nombre="Progress Azul"></app-incrementador>

      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (actualizaValor)="progreso2 = $event" [progreso]="progreso2"
                           nombre="Progress Verde"></app-incrementador>
      </div>
    </div>
  </div>

</div>

