<div class="right-sidebar">
  <div class="slimscrollright">
    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span></div>
    <div class="r-panel-body">
      <ul class="m-t-20" id="themecolors">
        <li><b>With Light sidebar</b></li>
        <li><a class="default-theme" data-theme="default" href="javascript:void(0)">1</a></li>
        <li><a class="green-theme" data-theme="green" href="javascript:void(0)">2</a></li>
        <li><a class="red-theme" data-theme="red" href="javascript:void(0)">3</a></li>
        <li><a class="blue-theme" data-theme="blue" href="javascript:void(0)">4</a></li>
        <li><a class="purple-theme" data-theme="purple" href="javascript:void(0)">5</a></li>
        <li><a class="megna-theme" data-theme="megna" href="javascript:void(0)">6</a></li>
        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
        <li><a class="default-dark-theme working" data-theme="default-dark" href="javascript:void(0)">7</a></li>
        <li><a class="green-dark-theme" data-theme="green-dark" href="javascript:void(0)">8</a></li>
        <li><a class="red-dark-theme" data-theme="red-dark" href="javascript:void(0)">9</a></li>
        <li><a class="blue-dark-theme" data-theme="blue-dark" href="javascript:void(0)">10</a></li>
        <li><a class="purple-dark-theme" data-theme="purple-dark" href="javascript:void(0)">11</a></li>
        <li><a class="megna-dark-theme " data-theme="megna-dark" href="javascript:void(0)">12</a></li>
      </ul>
      <ul class="m-t-20 chatonline">
        <li><b>Chat option</b></li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/1.jpg"> <span>Varun Dhavan <small
            class="text-success">online</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/2.jpg"> <span>Genelia Deshmukh <small
            class="text-warning">Away</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/3.jpg"> <span>Ritesh Deshmukh <small
            class="text-danger">Busy</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/4.jpg"> <span>Arijit Sinh <small
            class="text-muted">Offline</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/5.jpg"> <span>Govinda Star <small
            class="text-success">online</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/6.jpg"> <span>John Abraham<small
            class="text-success">online</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/7.jpg"> <span>Hritik Roshan<small
            class="text-success">online</small></span></a>
        </li>
        <li>
          <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="/assets/images/users/8.jpg"> <span>Pwandeep rajan aaaaaaaaaaaaaaaa<small
            class="text-success">online</small></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
