<h3>
  {{ leyenda }} - {{ progreso }}
</h3>

<div class="input-group">
    <span class="input-group-btn">
    <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button">
        <i class="mdi mdi-minus"></i>
    </button>
  </span>

  <input #txtProgress (ngModelChange)="onChanges($event)" [(ngModel)]="progreso" class="form-control" max="100"
         min="1" name="progreso" type="number">

  <span class="input-group-btn">
      <button (click)="cambiarValor(+5)" class="btn btn-primary" type="button">
          <i class="mdi mdi-plus"></i>
      </button>
    </span>
</div>
