

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-title">Graficas </div>
      <div class="card-body">
        <app-chart-donna  [chartLabels]="chartLabels"  [chartData]="chartData" [chartType]="chartType"> </app-chart-donna>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-title">Graficas </div>
      <div class="card-body">
        <app-chart-donna  [chartLabels]="chartLabels"  [chartData]="chartData" [chartType]="chartType"> </app-chart-donna>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-title">Graficas </div>
      <div class="card-body">
        <app-chart-donna  [chartLabels]="chartLabels"  [chartData]="chartData" [chartType]="chartType"> </app-chart-donna>
      </div>
    </div>
  </div>
  
</div>


