<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title">Account Settings</div>
      <div class="card-body">
        <div class="r-panel-body">
          <ul class="m-t-20" id="themecolors">
            <li><b>Con el sidebar claro</b></li>
            <li><a (click)="changeColorCustom($event)" class="selector default-theme" xdatatheme="default">1</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector green-theme" xdatatheme="green">2</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector red-theme" xdatatheme="red">3</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector blue-theme" xdatatheme="blue">4</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector purple-theme" xdatatheme="purple">5</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector megna-theme" xdatatheme="megna">6</a></li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li><a (click)="changeColorCustom($event)" class="selector default-dark-theme"
                   xdatatheme="default-dark">7</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector green-dark-theme" xdatatheme="green-dark">8</a>
            </li>
            <li><a (click)="changeColorCustom($event)" class="selector red-dark-theme" xdatatheme="red-dark">9</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector blue-dark-theme" xdatatheme="blue-dark">10</a>
            </li>
            <li><a (click)="changeColorCustom($event)" class="selector purple-dark-theme"
                   xdatatheme="purple-dark">11</a></li>
            <li><a (click)="changeColorCustom($event)" class="selector megna-dark-theme" xdatatheme="megna-dark">12</a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>


</div>

